h1{
	color:#321854;
	font-style: italic;	
}
nav {
	position:absolute;
	right:10px
}
table{
	font-family: semi-condensed;
	border: 15px solid;
	border-color: blue;
	background-color: pink;
	text-align: center;
	font-family: sans-serif;
	font-size: 150%;
	font-weight: 700
}
table.center{
	margin-left:auto;
	margin-right:auto;
}
body {
	text-align:center;
}
body{
	background-color:orange;
	
}